@model IEnumerable<DevOps.UI.Models.BuildProject>

<!-- Data Table area Start-->
    <div class="breadcomb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcomb-list">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                @if (Session["Role"].ToString() == "Admin")
                                {
                                    <div class="nk-int-mk sl-dp-mn sm-res-mg-t-10">
                                        <h2>Organization</h2>
                                    </div>
                                    <div class="bootstrap-select fm-cmp-mg">
                                        @Html.DropDownList("Organizations", new SelectList(ViewBag.Orgs, "OrganisationId", "Name"), "--Select--", new { @class = "udropdown" })
                                    </div>
                                    <div class="nk-int-mk sl-dp-mn sm-res-mg-t-10">
                                        <h2>Project</h2>
                                    </div>
                                    <div class="bootstrap-select fm-cmp-mg">
                                        @Html.DropDownList("Project", Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "udropdown" })
                                    </div>
                                }
                                @if (Session["Role"].ToString() != "Admin")
                                {
                                    <div class="nk-int-mk sl-dp-mn sm-res-mg-t-10">
                                        <h2>Project</h2>
                                    </div>
                                    <div class="bootstrap-select fm-cmp-mg">
                                        @Html.DropDownList("Project", new SelectList(ViewBag.Projects, "ProjectId", "ProjectName"), "--Select--", new { @class = "udropdown" })
                                    </div>
                                }
                                <div class="nk-int-mk sl-dp-mn sm-res-mg-t-10">
                                    <h2>Select/Create Branch</h2>
                                </div>
                                <div class="bootstrap-select fm-cmp-mg">
                                    @Html.DropDownList("Branches", Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "udropdown" })
                                </div>
                                <input type="submit" id="submitbtn" value="Start Project Build" class=" btn-success" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="table-responsive">
                        <h4>Builds</h4>
                        @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="nk-int-mk sl-dp-mn sm-res-mg-t-10">
                                <h2>Search Project</h2>
                            </div>
                            <div class="bootstrap-select fm-cmp-mg">
                                @Html.DropDownList("SearchProject", new SelectList(ViewBag.Projects, "ProjectId", "ProjectName"), "--Select--", new { @class = "udropdown" })
                            </div>
                            <input type="submit" id="submit" value="Search" class=" btn-success" />
                        </div>*@
                        <table id="data-table-basic" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Branch</th>
                                    <th>Build By</th>
                                    <th>Version</th>
                                    <th>URL</th>
                                    <th>Status</th>
                                    <th>Build Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="script">
</div>
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<script>
    $(document).ready(function () {
        var i;
        if ('@Session["Role"].ToString()' == 'Admin') {
            i = 0;
        }
        else {
            i = '@Session["Organization"].ToString()';
        }
        var urlb = "http://localhost:60969/api/Projects/Builds?id=" + i;
        $.ajax({
            url: urlb,
                context: document.body,
            success: function (data) {
                $('#data-table-basic > tbody > tr').empty();
                    console.log(data);
                    for (var i = 0, li = data.length; i < li; i++) {
                        var version = data[i].mejor_Version + "." + data[i].minor_Version + "." + data[i].build_Version;
                        var newTr = "<tr> <td>" + data[i].project.projectName + " </td><td>" + data[i].branch.branchName + "</td><td>" + data[i].user.name + "</td><td>" + version + "</td><td>" + data[i].downloadURL + "</td><td>" + data[i].status + "</td><td>" + data[i].buildDate + "</td><td> <input type='hidden' value=" + data[i].buildId + ">";
                        if ('@Session["Role"].ToString()' == "Admin" || '@Session["Role"].ToString()' == "ReleaseManager") {
                            newTr += "<a class='editajax' id='" + data[i].buildId + "' href='#'>Rebuild</a> <a class='deleteajax' id='" + data[i].buildId + "' href='#'>Delete</a>";
                        }
                        newTr += "</td></tr >";
                        $("#data-table-basic").append(newTr);
                        if ('@Session["Role"].ToString()' == "Admin" || '@Session["Role"].ToString()' == "ReleaseManager") {

                            document.getElementsByClassName("editajax")[i].addEventListener("click", function (event) {
                                event.preventDefault();
                                var url1 = "http://localhost:57996/Projects/Rebuild/" + event.target.id;
                                $.ajax({
                                    url: url1,
                                    type: 'GET',//type of posting the data
                                    contentType: 'application/json',
                                    dataType: 'json',
                                    success: function (r) {
                                        //console.log(r.ViewString);
                                        alert('New build started');
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        //what to do in error
                                        alert(thrownError);
                                    }
                                });

                            });

                            document.getElementsByClassName("deleteajax")[i].addEventListener("click", function (event) {
                                event.preventDefault();
                                if (confirm("Are you Sure Want to delete?")) {
                                    var id = event.target.id;
                                    var url1 = "http://localhost:60969/api/Servers/DeleteServer/" + id;
                                    $.ajax({
                                        url: url1,
                                        type: 'POST',//type of posting the data
                                        data: '{id: "' + id + '"}',
                                        dataType: 'json',
                                        success: function (r) {
                                            alert('Server Deleted Successfully');
                                            var url2 = "http://localhost:57996/Servers/Servers"
                                            $.ajax({
                                                url: url2,
                                                type: 'GET',//type of posting the data
                                                contentType: 'application/json',
                                                dataType: 'html',
                                                success: function (r) {
                                                    $("#partialbody").empty();
                                                    $("#partialbody").append(r);
                                                },
                                                error: function (xhr, ajaxOptions, thrownError) {
                                                    //what to do in error
                                                }
                                            });
                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {
                                            //what to do in error
                                            alert(thrownError);
                                        }
                                    });
                                }
                            });
                        }
                    }
                    reload_js();
                }
            });
    });
    function reload_js() {
        var s = "<script src='/Scripts/js/data-table/jquery.dataTables.min.js'><\/script>";
        s += "<script src='/Scripts/js/data-table/data-table-act.js'><\/script>";
        $('#script').append(s);
        console.log('Javascript is loaded successful!');
    }
    $('#submit').click(function (e) {
        e.preventDefault();
        $('#data-table-basic_wrapper').remove();
        var tbl = "<table id='data-table-basic' class='table table-striped'><thead><tr><th>Project Name</th><th>Branch</th><th>Build By</th><th>Version</th><th>URL</th><th>Status</th><th>Build Date</th><th></th></tr></thead ><tbody></tbody></table >";
        $('.table-responsive').append(tbl);
        var id = $('#SearchProject').val();
        var url1 = "http://localhost:60969/api/Projects/GetProjectBuilds?id=" + id;
        $.ajax({
            url: url1,
            type: 'GET',//type of posting the data
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                    for (var i = 0, li = data.length; i < li; i++) {
                        var version = data[i].mejor_Version + "." + data[i].minor_Version + "." + data[i].build_Version;
                        var newTr = "<tr> <td>" + data[i].project.projectName + " </td><td>" + data[i].branch.branchName + "</td><td>" + data[i].user.name + "</td><td>" + version + "</td><td>" + data[i].downloadURL + "</td><td>" + data[i].status + "</td><td>" + data[i].buildDate + "</td><td> <input type='hidden' value=" + data[i].buildId + ">";
                        if ('@Session["Role"].ToString()' == "Admin" || '@Session["Role"].ToString()' == "ReleaseManager") {
                            newTr += "<a class='editajax' id='" + data[i].buildId + "' href='#'>Rebuild</a> <a class='deleteajax' id='" + data[i].buildId + "' href='#'>Delete</a>";
                        }
                        newTr += "</td></tr >";
                        $("#data-table-basic").append(newTr);
                        if ('@Session["Role"].ToString()' == "Admin" || '@Session["Role"].ToString()' == "ReleaseManager") {

                            document.getElementsByClassName("editajax")[i].addEventListener("click", function (event) {
                                event.preventDefault();
                                var url1 = "http://localhost:57996/Projects/Rebuild/" + event.target.id;
                                $.ajax({
                                    url: url1,
                                    type: 'GET',//type of posting the data
                                    contentType: 'application/json',
                                    dataType: 'json',
                                    success: function (r) {
                                        //console.log(r.ViewString);
                                        $("#partialbody").empty();
                                        $("#partialbody").html(r);
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        //what to do in error
                                        alert(url1);
                                    }
                                });

                            });

                            document.getElementsByClassName("deleteajax")[i].addEventListener("click", function (event) {
                                event.preventDefault();
                                if (confirm("Are you Sure Want to delete?")) {
                                    var id = event.target.id;
                                    var url1 = "http://localhost:60969/api/Servers/DeleteServer/" + id;
                                    $.ajax({
                                        url: url1,
                                        type: 'POST',//type of posting the data
                                        data: '{id: "' + id + '"}',
                                        dataType: 'json',
                                        success: function (r) {
                                            alert('Server Deleted Successfully');
                                            var url2 = "http://localhost:57996/Servers/Servers"
                                            $.ajax({
                                                url: url2,
                                                type: 'GET',//type of posting the data
                                                contentType: 'application/json',
                                                dataType: 'html',
                                                success: function (r) {
                                                    $("#partialbody").empty();
                                                    $("#partialbody").append(r);
                                                },
                                                error: function (xhr, ajaxOptions, thrownError) {
                                                    //what to do in error
                                                }
                                            });
                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {
                                            //what to do in error
                                            alert(thrownError);
                                        }
                                    });
                                }
                            });
                        }
                    }
                reload_js();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //what to do in error
                console.log(thrownError);
            }
        });

    });
    $('#Organizations').change(function () {
        var id = $(this).val();
        var url1 = "http://localhost:60969/api/Projects/GetOrganizationProject?id=" + id;
        $.ajax({
            type: "GET",
            url: url1,
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                $('#Project').empty();
                $('#Project').append($("<option>")
                    .val(0)
                    .html("--Select--")
                );
                for (var i = 0, li = data.length; i < li; i++) {
                    $('#Project').append($("<option>")
                        .val(data[i].projectId)
                        .html(data[i].projectName)
                    );
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //what to do in error
                console.log(thrownError);
            }
        });
    });
    $('#Project').change(function () {
        var id = $(this).val();
        var url1 = "http://localhost:60969/api/Branches/GetProjectBranches?id=" + id;
        $.ajax({
            type: "GET",
            url: url1,
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                $('#Branches').empty();
                for (var i = 0, li = data.length; i < li; i++) {
                    $('#Branches').append($("<option>")
                        .val(data[i].branchId)
                        .html(data[i].branchName)
                    );
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //what to do in error
                console.log(thrownError);
            }
        });
    });
    $('#submitbtn').click(function (e) {
        e.preventDefault();
        $('#data-table-basic > tbody > tr').empty();
        var id = $('#Project').val();
        var bid = $('#Branches').val();
        var url1 = "http://localhost:57996/Projects/Build?projectId=" + id + "&branchId=" + bid;
        $.ajax({
            url: url1,
            type: 'GET',//type of posting the data
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                var i;
        if ('@Session["Role"].ToString()' == 'Admin') {
            i = 0;
        }
        else {
            i = '@Session["Organization"].ToString()';
        }
        var urlb = "http://localhost:60969/api/Projects/Builds?id=" + i;
        $.ajax({
            url: urlb,
                context: document.body,
            success: function (data) {
                    console.log(data);
                    for (var i = 0, li = data.length; i < li; i++) {
                        var version = data[i].mejor_Version + "." + data[i].minor_Version + "." + data[i].build_Version;
                        var newTr = "<tr> <td>" + data[i].project.projectName + " </td><td>" + data[i].branch.branchName + "</td><td>" + data[i].user.name + "</td><td>" + version + "</td><td>" + data[i].downloadURL + "</td><td>" + data[i].status + "</td><td>" + data[i].buildDate + "</td><td> <input type='hidden' value=" + data[i].buildId + ">";
                        if ('@Session["Role"].ToString()' == "Admin" || '@Session["Role"].ToString()' == "ReleaseManager") {
                            newTr += "<a class='editajax' id='" + data[i].buildId + "' href='#'>Rebuild</a> <a class='deleteajax' id='" + data[i].buildId + "' href='#'>Delete</a>";
                        }
                        newTr += "</td></tr >";
                        $("#data-table-basic").append(newTr);
                        if ('@Session["Role"].ToString()' == "Admin" || '@Session["Role"].ToString()' == "ReleaseManager") {

                            document.getElementsByClassName("editajax")[i].addEventListener("click", function (event) {
                                event.preventDefault();
                                var url1 = "http://localhost:57996/Projects/Rebuild/" + event.target.id;
                                $.ajax({
                                    url: url1,
                                    type: 'GET',//type of posting the data
                                    contentType: 'application/json',
                                    dataType: 'json',
                                    success: function (r) {
                                        //console.log(r.ViewString);
                                        alert('Rebuild Started');
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        //what to do in error
                                        alert(thrownError);
                                    }
                                });

                            });

                            document.getElementsByClassName("deleteajax")[i].addEventListener("click", function (event) {
                                event.preventDefault();
                                if (confirm("Are you Sure Want to delete?")) {
                                    var id = event.target.id;
                                    var url1 = "http://localhost:60969/api/Servers/DeleteServer/" + id;
                                    $.ajax({
                                        url: url1,
                                        type: 'POST',//type of posting the data
                                        data: '{id: "' + id + '"}',
                                        dataType: 'json',
                                        success: function (r) {
                                            alert('Server Deleted Successfully');
                                            var url2 = "http://localhost:57996/Servers/Servers"
                                            $.ajax({
                                                url: url2,
                                                type: 'GET',//type of posting the data
                                                contentType: 'application/json',
                                                dataType: 'html',
                                                success: function (r) {
                                                    $("#partialbody").empty();
                                                    $("#partialbody").append(r);
                                                },
                                                error: function (xhr, ajaxOptions, thrownError) {
                                                    //what to do in error
                                                }
                                            });
                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {
                                            //what to do in error
                                            alert(thrownError);
                                        }
                                    });
                                }
                            });
                        }
                    }
                    reload_js();
                }
            });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //what to do in error
                console.log(thrownError);
            }
        });

    });
</script>

