@model IEnumerable<DevOps.UI.Models.User>

<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="table-responsive">
                        <h4>Users</h4>
                        <table id="data-table-basic" class="table table-striped table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Nationality</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Date of Birth</th>
                                    <th>Organization Name</th>
                                    <th>Date Of Registration </th>
                                    <th colspan="2">Action </th>
                                </tr>
                            </thead>
                            <tbody id="data-body">
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
        $(document).ready(function () {
            var role = '@Session["Role"].ToString()';
            var org = '@Session["Organization"].ToString()';
            var urlg = "http://localhost:60969/api/Users/GetAuthUsers?role=" + role + "&organization=" + org;
            $.ajax({
                url: urlg,
                context: document.body,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer " + '@Session["UserToken"]');
                },
                success: function (data) {
                    console.log(data);
                    $("#data-body").empty();
                    for (var i = 0, li = data.length; i < li; i++) {
                        var newTr = "<tr> <td>" + data[i].name + " </td><td>" + data[i].address + "</td><td>" + data[i].nationality + "</td><td>" + data[i].email + "</td> <td>" + data[i].phone + "</td> <td>" + data[i].dateOfBirth + "</td> <td>" + data[i].organisation.name + "</td><td>" + data[i].registrationDate + "</td><td> <input type='hidden' value=" + data[i].userId + ">";
                        if ('@Session["Role"].ToString()' == "Admin" || '@Session["Role"].ToString()' == "ReleaseManager") {
                            newTr += "<a class='editajax' id = '" + data[i].userId + "' href = '#' > Edit</a ></td > <td><a class='deleteajax' id='" + data[i].userId + "' href='#'>Delete</a>";
                        }
                        newTr += "</td></tr >";
            $("#data-table-basic").append(newTr);
                        if ('@Session["Role"].ToString()' == "Admin" || '@Session["Role"].ToString()' == "ReleaseManager") {
                            document.getElementsByClassName("editajax")[i].addEventListener("click", function (event) {
                                event.preventDefault();
                                //alert(event.target.id);
                                var url1 = "http://localhost:57996/Users/EditUser/" + event.target.id;
                                $.ajax({
                                    url: url1,
                                    type: 'GET',//type of posting the data
                                    contentType: 'application/json',
                                    dataType: 'html',
                                    success: function (r) {
                                        $("#partialbody").empty();
                                        $("#partialbody").html(r);
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        //what to do in error
                                        alert(url1);
                                    }
                                });

                            });
                            document.getElementsByClassName("deleteajax")[i].addEventListener("click", function (event) {
                                event.preventDefault();
                                if (confirm("Are you Sure Want to delete?")) {
                                    var id = event.target.id;
                                    var url1 = "http://localhost:60969/api/Users/DeleteUser/" + id;
                                    $.ajax({
                                        url: url1,
                                        type: 'POST',//type of posting the data
                                        data: '{id: "' + id + '"}',
                                        dataType: 'json',
                                        success: function (r) {
                                            alert('Users deleted successfully');
                                            var url2 = "http://localhost:57996/Users/Users"
                                            $.ajax({
                                                url: url2,
                                                type: 'GET',//type of posting the data
                                                contentType: 'application/json',
                                                dataType: 'html',
                                                success: function (r) {
                                                    $("#partialbody").empty();
                                                    $("#partialbody").append(r);
                                                },
                                                error: function (xhr, ajaxOptions, thrownError) {
                                                    //what to do in error
                                                }
                                            });
                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {
                                            //what to do in error
                                            alert(thrownError);
                                        }
                                    });
                                }

                            });
                        }
                    }

                }
            });
        });
</script>