@model IEnumerable<DevOps.UI.Models.SupportTicket>

@{
    ViewBag.Title = "TicketManagement";
}
<style type="text/css">


    .High {
        color: red !important;
    }

    .Medium {
        color: orange !important;
    }

    .Low {
        color: yellowgreen !important;
    }
</style>


<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <input type="submit" class="btn btn-lg btn-success" value="Fixed Ticket" id="fixticket">
                    <input type="submit" class="btn btn-lg btn-danger" value="Not Fixed Ticket" id="notfixticket">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <h2 id="ticket-head"></h2>
                    </div>
                    <div class="table-responsive">
                        @*<table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>GeneratedBy</th>
                                        <th>FixedBy</th>
                                        <th>Category</th>
                                        <th>Discription</th>
                                        <th>Status</th>
                                        <th>GeneratedDate</th>
                                        <th>FixedDate</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="script">
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

        $(document).ready(function () {
            function reload_js() {
                console.log("function exceute");
                var s = "<script src='/Scripts/js/data-table/jquery.dataTables.min.js'><\/script>";
                s += "<script src='/Scripts/js/data-table/data-table-act.js'><\/script>";
                $('#script').append(s);
                console.log('Javascript is loaded successful!');
            };

            $("#fixticket").click(function (e) {
                $("#ticket-head").html("Fixed Tickets");
                ajaxCall("GetAllTicket");
            });


            $("#notfixticket").click(function (e) {
                $("#ticket-head").html("Not Fixed Tickets");
                ajaxCall("GetAllTicketUnfixed");
            });

            function ajaxCall(method){
                event.preventDefault();
                var role = '@Session["Role"].ToString()';
                var org = '@Session["Organization"].ToString()';
                var id = '@Session["user"]';
                var urlg = "http://localhost:60969/api/SupportTicket/" + method + "?role=" + role + "&organization=" + org + "&id=" + id;

                $.ajax({
                    url: urlg,
                    context: document.body,
                    success: function (data) {
                        console.log(data);
                        $('#data-table-basic_wrapper').remove();
                        var tbl = "<table id='data-table-basic' class='table table-striped'><thead><tr><th>GeneratedBy</th><th>Category</th><th>Discription</th><th>Status</th><th>GeneratedDate</th>";
                        if (method == "GetAllTicket") {
                            tbl += "<th>FixedBy</th><th>FixedDate</th>";
                        }
                        if (method != "GetAllTicket") {
                            tbl += "<th></th>";
                        }
                        tbl += "</tr></thead><tbody></tbody></table>";
                        $('.table-responsive').append(tbl);
                        for (var i = 0, li = data.length; i < li; i++) {

                            var fixedby = data[i].user ?? 10;
                            var name;
                            if (fixedby == 10) {
                                name = "not fixed";
                            }
                            else {
                                name = data[i].user.name;
                            }


                            var category = data[i].category;
                            var categoryvalue;
                            if (category == "High") {
                                categoryvalue = "<p class=High>" + data[i].category;

                            }
                            else if (category == "Medium") {
                                categoryvalue = "<p class=Medium>" + data[i].category;
                            }
                            else {
                                categoryvalue = "<p class=Low>" + data[i].category;
                            }
                            //console.log(categoryvalue);
                            var newTr = "<tr> <td>" + data[i].user1.name + " </td>";
                            newTr += "<td>" + categoryvalue + "</td>";
                            newTr += "<td>" + data[i].description + "</td>";
                            newTr += "<td>" + data[i].status + "</td>";
                            newTr += "<td>" + data[i].generatedDate + "</td>";
                            if (method == "GetAllTicket") {
                                newTr += "<td>" + name + "</td>";
                                newTr += "<td>" + data[i].fixedDate + "</td>";
                            }
                            if (method != "GetAllTicket") {

                                //var newTr = "<tr> <td>" + data[i].user1.name + " </td><td>" + data[i].user.hasOwnProperty("name") ? data[i].user.name : "not fixed" + "</td><td>" + data[i].category + "</td><td>" + data[i].description + "</td><td>" + data[i].status + "</td><td>" + data[i].generatedDate + "</td><td>" + data[i].fixedDate + "</td><td> <input type='hidden' value=" + data[i].ticketId + ">";
                                if ('@Session["Role"].ToString()' == "Admin" || '@Session["Role"].ToString()' == "ReleaseManager") {
                                    newTr += "<td> <input type='hidden' value=" + data[i].ticketId + ">";
                                    newTr += "<a class='replyajax' id = '" + data[i].ticketId + "' href = '#' > Fix Ticket</a >";
                                    newTr += "</td>";
                                }

                            }
                            newTr += "</tr >";
                            $("#data-table-basic").append(newTr);
                            if (method != "GetAllTicket") {
                                if ('@Session["Role"].ToString()' == "Admin" || '@Session["Role"].ToString()' == "ReleaseManager") {
                                    document.getElementsByClassName("replyajax")[i].addEventListener("click", function (event) {
                                        event.preventDefault();
                                        var url1 = "http://localhost:57996/SupportTicket/ShareSolution/" + event.target.id;
                                        $.ajax({
                                            url: url1,
                                            type: 'GET',//type of posting the data
                                            contentType: 'application/json',
                                            dataType: 'html',
                                            success: function (r) {

                                                //console.log(r.ViewString);
                                                $("#partialbody").empty();
                                                $("#partialbody").html(r);
                                            },
                                            error: function (xhr, ajaxOptions, thrownError) {
                                                //what to do in error
                                                alert(url1);
                                            }
                                        });

                                    });
                                }
                            }
                        };

                        reload_js();
                    },

                 });
            };
        });
</script>


