
@{
    ViewBag.Title = "Index";
}

@if (Session["Role"].ToString() == "Admin")
{
    <script>
        window.onload = function () {
            var chart5 = new CanvasJS.Chart("UserandPorject", {
                animationEnabled: true,
                title: {
                    text: "Users & Porjects in Organization"
                },
                axisY: {
                    includeZero: false
                },
                toolTip: {
                    shared: true
                },
                data: [{
                    type: "line",
                    name: "User",
                    showInLegend: true,
                    dataPoints: @Html.Raw(ViewBag.userDataPoints)
	            }, {
                    type: "line",
                    name: "Project",
                    showInLegend: true,
                    dataPoints: @Html.Raw(ViewBag.projectDataPoints)
	            }]
            });
            chart5.render();

            var chart1 = new CanvasJS.Chart("Builds", {
	            animationEnabled: true,
	            theme: "light2", // "light1", "light2", "dark1", "dark2"
	            title: {
		            text: "Past 30 Days Build Activity in Organization"
	            },
	            axisY: {
		            title: "No. of BuildProject"
	            },
	            data: [{
		            type: "column",
		            dataPoints: @Html.Raw(ViewBag.DataPoints1)
	            }]
            });
            chart1.render();

            var chart2 = new CanvasJS.Chart("BuildStatistics", {
	            theme: "light1", // "light1", "light2", "dark1", "dark2"
	            exportEnabled: true,
	            animationEnabled: true,
	            title: {
		            text: "Build Statistics"
	            },
	            subtitles: [{
		            text: "Total Builds "+@ViewBag.TotalBuilds
	            }],
	            data: [{
		            type: "pie",
		            startAngle: 180,
		            toolTipContent: "<b>{label}</b>: {y}%",
		            showInLegend: "true",
		            legendText: "{label}",
		            indexLabel: "{label} - {y}%",
		            dataPoints: @Html.Raw(ViewBag.DataPoints2)
	            }]
            });
            chart2.render();

            var chart3 = new CanvasJS.Chart("Tickets", {
	            animationEnabled: true,
	            theme: "light2", // "light1", "light2", "dark1", "dark2"
	            title: {
		            text: "Tickets Statistics"
	            },
	            axisY: {
		            title: "No. of Tickets"
	            },
	            data: [{
		            type: "column",
		            dataPoints: @Html.Raw(ViewBag.DataPoints3)
	            }]
            });
            chart3.render();
    }
    </script>

}

@if (Session["Role"].ToString() == "ReleaseManager")
{
    <script>
        window.onload = function () {
            var chart1 = new CanvasJS.Chart("Builds", {
	            animationEnabled: true,
	            theme: "light2", // "light1", "light2", "dark1", "dark2"
	            title: {
		            text: "Past 30 Days Build Activity in Organization"
	            },
	            axisY: {
		            title: "No. of BuildProject"
	            },
	            data: [{
		            type: "column",
		            dataPoints: @Html.Raw(ViewBag.DataPoints1)
	            }]
            });
            chart1.render();

            var chart2 = new CanvasJS.Chart("BuildStatistics", {
	            theme: "light1", // "light1", "light2", "dark1", "dark2"
	            exportEnabled: true,
	            animationEnabled: true,
	            title: {
		            text: "Build Statistics"
	            },
	            subtitles: [{
		            text: "Total Builds "+@ViewBag.TotalBuilds
	            }],
	            data: [{
		            type: "pie",
		            startAngle: 180,
		            toolTipContent: "<b>{label}</b>: {y}%",
		            showInLegend: "true",
		            legendText: "{label}",
		            indexLabel: "{label} - {y}%",
		            dataPoints: @Html.Raw(ViewBag.DataPoints2)
	            }]
            });
            chart2.render();

            var chart3 = new CanvasJS.Chart("Tickets", {
	            animationEnabled: true,
	            theme: "light2", // "light1", "light2", "dark1", "dark2"
	            title: {
		            text: "Tickets Statistics"
	            },
	            axisY: {
		            title: "No. of Tickets"
	            },
	            data: [{
		            type: "column",
		            dataPoints: @Html.Raw(ViewBag.DataPoints3)
	            }]
            });
            chart3.render();
    }
    </script>

}

@if (Session["Role"].ToString() == "User")
{
    <script>
        window.onload = function () {
        //User Side
            var chart4 = new CanvasJS.Chart("UserSupportTicket", {
	            animationEnabled: true,
	            theme: "light2", // "light1", "light2", "dark1", "dark2"
                title: {
                    text: "User Support Ticket"
	            },
                axisY: {
                    title: "No. of Support Ticket"
	            },
	            data: [{
	                type: "column",
	                dataPoints: @Html.Raw(ViewBag.DataPoints1)
	            }]
            });
            chart4.render();

             var chart2 = new CanvasJS.Chart("UserBuildStatistics", {
	            theme: "light1", // "light1", "light2", "dark1", "dark2"
	            exportEnabled: true,
	            animationEnabled: true,
	            title: {
		            text: "Build Statistics"
	            },
	            subtitles: [{
		            text: "Total Builds "+@ViewBag.Builds
	            }],
	            data: [{
		            type: "pie",
		            startAngle: 180,
		            toolTipContent: "<b>{label}</b>: {y}%",
		            showInLegend: "true",
		            legendText: "{label}",
		            indexLabel: "{label} - {y}%",
		            dataPoints: @Html.Raw(ViewBag.DataPoints2)
	            }]
            });
            chart2.render();

             var chart1 = new CanvasJS.Chart("UserBuilds", {
	            animationEnabled: true,
	            theme: "light2", // "light1", "light2", "dark1", "dark2"
	            title: {
		            text: "Past 30 Days Build Activity in Organization"
	            },
	            axisY: {
		            title: "No. of BuildProject"
	            },
	            data: [{
		            type: "column",
		            dataPoints: @Html.Raw(ViewBag.DataPoints6)
	            }]
            });
            chart1.render();
        }
    </script>
}

<div id="partialbody">

    @if (Session["Role"].ToString() != "User")
    {
        <!-- End Sale Statistic area-->
        if (Session["Role"].ToString() == "Admin")
        {
            <div class="sale-statistic-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="sale-statistic-inner notika-shadow mg-tb-30">
                                <div id="UserandPorject" style="height: 370px; width: 100%;"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
        <!-- Start Email Statistic area-->
        <!-- Start Sale Statistic area-->
        <div class="sale-statistic-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                        <div class="sale-statistic-inner notika-shadow mg-tb-30">
                            <div id="Builds" style="height: 370px; width: 100%;">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                        <div class="statistic-right-area notika-shadow mg-tb-30 sm-res-mg-t-0">
                            <div id="Tickets" style="height: 370px; width: 100%;"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="notika-email-post-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="sale-statistic-inner notika-shadow">
                            <div id="BuildStatistics" style="height: 370px; width: 100%;"></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="recent-post-wrapper notika-shadow sm-res-mg-t-30 tb-res-ds-n dk-res-ds">
                            <div class="recent-post-ctn">
                                <div class="recent-post-title">
                                    @if (Session["Role"].ToString() == "Admin")
                                    {
                                        <h2>Recent Organizations</h2>
                                    }
                                    @if (Session["Role"].ToString() != "Admin")
                                    {
                                        <h2>Recent Users</h2>
                                    }
                                </div>
                            </div>
                            <div class="recent-post-items">
                                @if (Session["Role"].ToString() == "Admin")
                                {
                                    foreach (var j in (List<DevOps.UI.Models.Organization>)TempData["orgs"])
                                    {
                                        <div class="recent-post-signle rct-pt-mg-wp">
                                            <a href="#">
                                                <div class="recent-post-flex">
                                                    <div class="recent-post-it-ctn">
                                                        <h2>@j.Name</h2>
                                                        <p>@j.Nationality</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <br />
                                    }
                                }
                                @if (Session["Role"].ToString() != "Admin")
                                {
                                    foreach (var j in (List<DevOps.UI.Models.User>)TempData["users"])
                                    {
                                        <div class="recent-post-signle rct-pt-mg-wp">
                                            <a href="#">
                                                <div class="recent-post-flex">
                                                    <div class="recent-post-it-ctn">
                                                        <h2>@j.Name</h2>
                                                        <p>@j.Nationality</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <br />
                                    }
                                }
                                <div class="recent-post-signle">
                                    <a href="#">
                                        <div class="recent-post-flex rc-ps-vw">
                                            <div class="recent-post-line rct-pt-mg">
                                                <p>View All</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="recent-items-wp notika-shadow sm-res-mg-t-30">
                            <div class="rc-it-ltd">
                                <div class="recent-items-ctn">
                                    <div class="recent-items-title">
                                        <h2>Recent Projects</h2>
                                    </div>
                                </div>
                                <div class="recent-items-inn">
                                    <table class="table table-inner table-vmiddle">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th style="width: 60px">Platform</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var i in (List<DevOps.UI.Models.Project>)TempData["projects"])
                                            {
                                                <tr>
                                                    <td>@i.ProjectName</td>
                                                    <td class="f-500 c-cyan">@i.Plateform</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @*----------------------------------------------*@
    @*----------------------------------------------*@
    @*----------------------------------------------*@
    @if (Session["Role"].ToString() == "User")
    {
        <!-- Start Status area -->
        @*<div class="notika-status-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                                <div class="website-traffic-ctn">
                                    <h2><span class="counter">@ViewBag.Projects</span></h2>
                                    <p>Total Organization Projects</p>
                                </div>
                                <div class="sparkline-bar-stats1">9,4,8,6,5,6,4,8,3,5,9,5</div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30">
                                <div class="website-traffic-ctn">
                                    <h2><span class="counter">@ViewBag.Builds</span></h2>
                                    <p>Total Project Builds</p>
                                </div>
                                <div class="sparkline-bar-stats3">4,2,8,2,5,6,3,8,3,5,9,5</div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30">
                                <div class="website-traffic-ctn">
                                    <h2><span class="counter">@ViewBag.Tickets</span></h2>
                                    <p>Your Total Support Tickets</p>
                                </div>
                                <div class="sparkline-bar-stats4">2,4,8,4,5,7,4,7,3,5,7,5</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        <!-- End Status area-->
        <!-- Start Sale Statistic area-->
        <div class="sale-statistic-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                        <div class="sale-statistic-inner notika-shadow mg-tb-30">

                            <div id="UserBuildStatistics" style="height: 370px; width: 100%;"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                        <div class="statistic-right-area notika-shadow mg-tb-30 sm-res-mg-t-0">
                            <div id="UserSupportTicket" style="height: 370px; width: 100%;"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Sale Statistic area-->
        <!-- Start Email Statistic area-->
        <div class="notika-email-post-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="recent-post-wrapper notika-shadow sm-res-mg-t-30 tb-res-ds-n dk-res-ds">
                            <div class="recent-post-ctn">
                                <div class="recent-post-title">
                                    <h2>Recent Builds</h2>
                                </div>
                            </div>
                            <div class="recent-post-items">
                                @foreach (var j in (List<DevOps.UI.Models.BuildProject>)TempData["builds"])
                                {
                                    <div class="recent-post-signle rct-pt-mg-wp">
                                        <a href="#">
                                            <div class="recent-post-flex">
                                                <div class="recent-post-it-ctn">
                                                    <h2>@j.Project.ProjectName</h2>
                                                    <p>@j.Branch.BranchName</p>
                                                    <p>@j.Mejor_Version.@j.Minor_Version.@j.Build_Version</p>
                                                    <p>@j.BuildDate</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <br />
                                }
                                <div class="recent-post-signle">
                                    <a href="#">
                                        <div class="recent-post-flex rc-ps-vw">
                                            <div class="recent-post-line rct-pt-mg">
                                                <p>View All</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                        <div class="recent-items-wp notika-shadow sm-res-mg-t-30">
                            <div class="rc-it-ltd">
                                <div class="recent-items-ctn">
                                    <div class="recent-items-title">
                                        <h2>Recent Support Tickets</h2>
                                    </div>
                                </div>
                                <div class="recent-items-inn">
                                    <table class="table table-inner table-vmiddle">
                                        <thead>
                                            <tr>
                                                <th>Description</th>
                                                <th>Date</th>
                                                <th style="width: 60px">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var i in (List<DevOps.UI.Models.SupportTicket>)TempData["tickets"])
                                            {
                                                <tr>
                                                    <td>@i.Description</td>
                                                    <td>@i.GeneratedDate</td>
                                                    <td class="f-500 c-cyan">@i.Status</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-7 col-xs-12">
                        <div class="recent-items-wp notika-shadow sm-res-mg-t-30">
                            <div id="UserBuilds" style="height: 370px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- End Email Statistic area-->
</div>
<script src="~/Scripts/canvasjs.min.js"></script>
