@model IEnumerable<DevOps.UI.Models.ServerBuild>

<!-- Data Table area Start-->
<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            @if (Session["Role"].ToString() == "Admin")
                            {
                                <div class="nk-int-mk sl-dp-mn sm-res-mg-t-10">
                                    <h2>Organization</h2>
                                </div>
                                <div class="bootstrap-select fm-cmp-mg">
                                    @Html.DropDownList("Organizations", new SelectList(ViewBag.Orgs, "OrganisationId", "Name"), "--Select--", new { @class = "udropdown" })
                                </div>
                                <div class="nk-int-mk sl-dp-mn sm-res-mg-t-10">
                                    <h2>Project</h2>
                                </div>
                                <div class="bootstrap-select fm-cmp-mg">
                                    @Html.DropDownList("Project", Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "udropdown" })
                                </div>
                            }
                            @if (Session["Role"].ToString() != "Admin")
                            {
                                <div class="nk-int-mk sl-dp-mn sm-res-mg-t-10">
                                    <h2>Project</h2>
                                </div>
                                <div class="bootstrap-select fm-cmp-mg">
                                    @Html.DropDownList("Project", new SelectList(ViewBag.Projects, "ProjectId", "ProjectName"), "--Select--", new { @class = "udropdown" })
                                </div>
                            }
                            <div class="nk-int-mk sl-dp-mn sm-res-mg-t-10">
                                <h2>Branch</h2>
                            </div>
                            <div class="bootstrap-select fm-cmp-mg">
                                @Html.DropDownList("Branches", Enumerable.Empty<SelectListItem>(), "--Search--", new { @class = "udropdown" })
                            </div>
                            <div class="nk-int-mk sl-dp-mn sm-res-mg-t-10">
                                <h2>Version</h2>
                            </div>
                            <div class="bootstrap-select fm-cmp-mg">
                                @Html.DropDownList("Versions", Enumerable.Empty<SelectListItem>(), "--Search--", new { @class = "udropdown" })
                            </div>
                            @if (Session["Role"].ToString() == "Admin")
                            {
                                <div class="nk-int-mk sl-dp-mn sm-res-mg-t-10">
                                    <h2>Server</h2>
                                </div>
                                <div class="bootstrap-select fm-cmp-mg">
                                    @Html.DropDownList("Server", Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "udropdown" })
                                </div>
                            }
                            @if (Session["Role"].ToString() != "Admin")
                            {
                                <div class="nk-int-mk sl-dp-mn sm-res-mg-t-10">
                                    <h2>Server</h2>
                                </div>
                                <div class="bootstrap-select fm-cmp-mg">
                                    @Html.DropDownList("Server", new SelectList(ViewBag.Servers, "ServerId", "ServerName"), "--Select--", new { @class = "udropdown" })
                                </div>
                            }
                            <input type="submit" id="submit" value="Start Server Build" class=" btn-success" />
                            <input type="submit" id="search" value="Search server" class=" btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <h2>Server Builds</h2>
                    </div>
                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Branch</th>
                                    <th>Build Version</th>
                                    <th>Server</th>
                                    <th>Status</th>
                                    <th>Build By</th>
                                    <th>Build Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="script">
</div>
<script>
    $(document).ready(function () {
        var i;
        if ('@Session["Role"].ToString()' == 'Admin') {
            i = 0;
        }
        else {
            i = '@Session["Organization"].ToString()';
        }
        var urlb = "http://localhost:60969/api/Servers/GetServerBuilds?id=" + i;
        $.ajax({
            url: urlb,
                context: document.body,
                success: function (data) {
                    console.log(data);
                    for (var i = 0, li = data.length; i < li; i++) {
                        var version = data[i].mejor_Version + "." + data[i].minor_Version + "." + data[i].build_Version;
                        var newTr = "<tr> <td>" + data[i].buildProject.project.projectName + " </td><td>" + data[i].buildProject.branch.branchName + "</td><td>" + version + "</td><td>" + data[i].serverConfig.serverName + "</td><td>" + data[i].status + "</td><td>" + data[i].user.name + "</td><td>" + data[i].publishDate + "</td><td> <input type='hidden' value=" + data[i].buildId + ">";
                        if ('@Session["Role"].ToString()' == "Admin" || '@Session["Role"].ToString()' == "ReleaseManager") {
                            newTr += "<a class='editajax' id='" + data[i].buildId + "' href='#'>Rebuild</a>    <a class='deleteajax' id='" + data[i].buildId + "' href='#'>Delete</a>  <a class='shareajax' id='" + data[i].buildId + "' href='#'>Download</a>";
                        }
                        newTr += "</td></tr >";
                        $("#data-table-basic").append(newTr);
                        if ('@Session["Role"].ToString()' == "Admin" || '@Session["Role"].ToString()' == "ReleaseManager") {


                            document.getElementsByClassName("shareajax")[i].addEventListener("click", function (event) {
                                event.preventDefault();
                                var url1 = "http://localhost:57996/Servers/ShareServer/" + event.target.id;
                                $.ajax({
                                    url: url1,
                                    type: 'GET',//type of posting the data
                                    contentType: 'application/json',
                                    dataType: 'html',
                                    success: function (r) {
                                        //console.log(r.ViewString);
                                        $("#partialbody").empty();
                                        $("#partialbody").html(r);
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        //what to do in error
                                        alert(url1);
                                    }
                                });

                            });

                            document.getElementsByClassName("editajax")[i].addEventListener("click", function (event) {
                                event.preventDefault();
                                var url1 = "http://localhost:57996/Servers/Rebuild/" + event.target.id;
                                $.ajax({
                                    url: url1,
                                    type: 'GET',//type of posting the data
                                    contentType: 'application/json',
                                    dataType: 'json',
                                    success: function (r) {
                                        //console.log(r.ViewString);
                                        alert('Rebuild started');
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        //what to do in error
                                        alert(url1);
                                    }
                                });

                            });



                            document.getElementsByClassName("deleteajax")[i].addEventListener("click", function (event) {
                                event.preventDefault();
                                if (confirm("Are you Sure Want to delete?")) {
                                    var id = event.target.id;
                                    var url1 = "http://localhost:60969/api/Servers/DeleteServer/" + id;
                                    $.ajax({
                                        url: url1,
                                        type: 'POST',//type of posting the data
                                        data: '{id: "' + id + '"}',
                                        dataType: 'json',
                                        success: function (r) {
                                            alert('Server Deleted Successfully');
                                            var url2 = "http://localhost:57996/Servers/Servers"
                                            $.ajax({
                                                url: url2,
                                                type: 'GET',//type of posting the data
                                                contentType: 'application/json',
                                                dataType: 'html',
                                                success: function (r) {
                                                    $("#partialbody").empty();
                                                    $("#partialbody").append(r);
                                                },
                                                error: function (xhr, ajaxOptions, thrownError) {
                                                    //what to do in error
                                                }
                                            });
                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {
                                            //what to do in error
                                            alert(thrownError);
                                        }
                                    });
                                }
                            });
                        }
                    }
                    reload_js();
                }
            });
    });
    function reload_js() {
            var s = "<script src='/Scripts/js/data-table/jquery.dataTables.min.js'><\/script>";
            s += "<script src='/Scripts/js/data-table/data-table-act.js'><\/script>";
            $('#script').append(s);
            console.log('Javascript is loaded successful!');
    }
    $('#submit').click(function (e) {
        e.preventDefault();
        var BuildId = $('#Versions').val();
        var ServerId = $('#Server').val();

        var url1 = "http://localhost:57996/Servers/StartServerBuild?BuildId=" + BuildId + "&ServerId=" + ServerId;
        alert(ServerId);
        $.ajax({
            url: url1,
            type: 'GET',//type of posting the data
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                $("#data-table-basic tbody").empty();
                console.log(data);
                    for (var i = 0, li = data.length; i < li; i++) {
                        var version = data[i].mejor_Version + "." + data[i].minor_Version + "." + data[i].build_Version;
                        var newTr = "<tr> <td>" + data[i].buildProject.project.projectName + " </td><td>" + data[i].buildProject.branch.branchName + "</td><td>" + version + "</td><td>" + data[i].serverConfig.serverName + "</td><td>" + data[i].status + "</td><td>" + data[i].user.name + "</td><td>" + data[i].publishDate + "</td><td> <input type='hidden' value=" + data[i].buildId + ">";
                        if ('@Session["Role"].ToString()' == "Admin" || '@Session["Role"].ToString()' == "ReleaseManager") {
                            newTr += "<a class='editajax' id='" + data[i].buildId + "' href='#'>Rebuild</a>    <a class='deleteajax' id='" + data[i].buildId + "' href='#'>Delete</a>  <a class='shareajax' id='" + data[i].buildId + "' href='#'>Download</a>";
                        }
                        newTr += "</td></tr >";
                        $("#data-table-basic").append(newTr);
                        if ('@Session["Role"].ToString()' == "Admin" || '@Session["Role"].ToString()' == "ReleaseManager") {


                            document.getElementsByClassName("shareajax")[i].addEventListener("click", function (event) {
                                event.preventDefault();
                                var url1 = "http://localhost:57996/Servers/ShareServer/" + event.target.id;
                                $.ajax({
                                    url: url1,
                                    type: 'GET',//type of posting the data
                                    contentType: 'application/json',
                                    dataType: 'html',
                                    success: function (r) {
                                        //console.log(r.ViewString);
                                        $("#partialbody").empty();
                                        $("#partialbody").html(r);
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        //what to do in error
                                        alert(url1);
                                    }
                                });

                            });

                            document.getElementsByClassName("editajax")[i].addEventListener("click", function (event) {
                                event.preventDefault();
                                var url1 = "http://localhost:57996/Servers/EditServer/" + event.target.id;
                                $.ajax({
                                    url: url1,
                                    type: 'GET',//type of posting the data
                                    contentType: 'application/json',
                                    dataType: 'html',
                                    success: function (r) {
                                        //console.log(r.ViewString);
                                        $("#partialbody").empty();
                                        $("#partialbody").html(r);
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        //what to do in error
                                        alert(url1);
                                    }
                                });

                            });



                            document.getElementsByClassName("deleteajax")[i].addEventListener("click", function (event) {
                                event.preventDefault();
                                if (confirm("Are you Sure Want to delete?")) {
                                    var id = event.target.id;
                                    var url1 = "http://localhost:60969/api/Servers/DeleteServer/" + id;
                                    $.ajax({
                                        url: url1,
                                        type: 'POST',//type of posting the data
                                        data: '{id: "' + id + '"}',
                                        dataType: 'json',
                                        success: function (r) {
                                            alert('Server Deleted Successfully');
                                            var url2 = "http://localhost:57996/Servers/Servers"
                                            $.ajax({
                                                url: url2,
                                                type: 'GET',//type of posting the data
                                                contentType: 'application/json',
                                                dataType: 'html',
                                                success: function (r) {
                                                    $("#partialbody").empty();
                                                    $("#partialbody").append(r);
                                                },
                                                error: function (xhr, ajaxOptions, thrownError) {
                                                    //what to do in error
                                                }
                                            });
                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {
                                            //what to do in error
                                            alert(thrownError);
                                        }
                                    });
                                }
                            });
                        }
                    }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //what to do in error
                console.log(thrownError);
            }
        });
    });
    $('#search').click(function (e) {
        e.preventDefault();
        $('#data-table-basic_wrapper').remove();
        var tbl = "<table id='data-table-basic' class='table table-striped'><thead><tr><th>Project Name</th><th>Branch</th><th>Build Version</th><th>Server</th><th>Status</th><th>BuildBy</th><th>Build Date</th><th></th></tr></thead ><tbody></tbody></table >";
        $('.table-responsive').append(tbl);
        var pid = $('#Project').val();
        var sid = $('#Server').val();
        var bid=$('#Branches').val();
        var url1 = "http://localhost:60969/api/Servers/GetServerBuilds?pid=" + pid +"&bid=" +bid +"&sid=" +sid;
        $.ajax({
            url: url1,
            type: 'GET',//type of posting the data
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                    for (var i = 0, li = data.length; i < li; i++) {

                        var newTr = "<tr> <td>" + data[i].buildProject.project.projectName + " </td><td>" + data[i].buildProject.branch.branchName + "</td><td>" + data[i].build_Version + "</td><td>" + data[i].serverConfig.serverName + "</td><td>" + data[i].status + "</td><td>" + data[i].user.name + "</td><td>" + data[i].publishDate + "</td><td> <input type='hidden' value=" + data[i].buildId + ">";
                        if ('@Session["Role"].ToString()' == "Admin" || '@Session["Role"].ToString()' == "ReleaseManager") {
                            newTr += "<a class='editajax' id='" + data[i].buildId + "' href='#'>Rebuild</a>    <a class='deleteajax' id='" + data[i].buildId + "' href='#'>Delete</a>  <a class='shareajax' id='" + data[i].buildId + "' href='#'>Download</a>";
                        }
                        newTr += "</td></tr >";
                         $("#data-table-basic").append(newTr);
                        if ('@Session["Role"].ToString()' == "Admin" || '@Session["Role"].ToString()' == "ReleaseManager") {

                            document.getElementsByClassName("shareajax")[i].addEventListener("click", function (event) {
                                event.preventDefault();
                                var url1 = "http://localhost:57996/Servers/ShareServer/" + event.target.id;
                                $.ajax({
                                    url: url1,
                                    type: 'GET',//type of posting the data
                                    contentType: 'application/json',
                                    dataType: 'html',
                                    success: function (r) {
                                        //console.log(r.ViewString);
                                        $("#partialbody").empty();
                                        $("#partialbody").html(r);
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        //what to do in error
                                        alert(url1);
                                    }
                                });

                            });
                             document.getElementsByClassName("editajax")[i].addEventListener("click", function (event) {
                                event.preventDefault();
                                var url1 = "http://localhost:57996/Servers/EditServer/" + event.target.id;
                                $.ajax({
                                    url: url1,
                                    type: 'GET',//type of posting the data
                                    contentType: 'application/json',
                                    dataType: 'html',
                                    success: function (r) {
                                        //console.log(r.ViewString);
                                        $("#partialbody").empty();
                                        $("#partialbody").html(r);
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        //what to do in error
                                        alert(url1);
                                    }
                                });

                            });


                            document.getElementsByClassName("deleteajax")[i].addEventListener("click", function (event) {
                                event.preventDefault();
                                if (confirm("Are you Sure Want to delete?")) {
                                    var id = event.target.id;
                                    var url1 = "http://localhost:60969/api/Servers/DeleteServer/" + id;
                                    $.ajax({
                                        url: url1,
                                        type: 'POST',//type of posting the data
                                        data: '{id: "' + id + '"}',
                                        dataType: 'json',
                                        success: function (r) {
                                            alert('Server Deleted Successfully');
                                            var url2 = "http://localhost:57996/Servers/Servers"
                                            $.ajax({
                                                url: url2,
                                                type: 'GET',//type of posting the data
                                                contentType: 'application/json',
                                                dataType: 'html',
                                                success: function (r) {
                                                    $("#partialbody").empty();
                                                    $("#partialbody").append(r);
                                                },
                                                error: function (xhr, ajaxOptions, thrownError) {
                                                    //what to do in error
                                                }
                                            });
                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {
                                            //what to do in error
                                            alert(thrownError);
                                        }
                                    });
                                }
                            });
                        }
                    }
                reload_js();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //what to do in error
                console.log(thrownError);
            }
        });

    });
    $('#Organizations').change(function () {
        var id = $(this).val();
        var url1 = "http://localhost:60969/api/Projects/GetOrganizationProject?id=" + id;
        $.ajax({
            type: "GET",
            url: url1,
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                $('#Project').empty();
                $('#Project').append($("<option>")
                    .val(0)
                    .html("--Select--")
                );
                for (var i = 0, li = data.length; i < li; i++) {
                    $('#Project').append($("<option>")
                        .val(data[i].projectId)
                        .html(data[i].projectName)
                    );
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //what to do in error
                console.log(thrownError);
            }
        });
        url1 = "http://localhost:60969/api/Servers/GetServerConfigs?Organization=" + id;
        $.ajax({
            type: "GET",
            url: url1,
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                $('#Server').empty();
                $('#Server').append($("<option>")
                    .val(0)
                    .html("--Select--")
                );
                for (var i = 0, li = data.length; i < li; i++) {
                    $('#Server').append($("<option>")
                        .val(data[i].serverId)
                        .html(data[i].serverName)
                    );
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //what to do in error
                console.log(thrownError);
            }
        });
    });
    $('#Project').change(function () {
        $('#Branches').empty();
        $('#Branches').append($("<option>")
            .val("0")
            .html("--select--")
        );
        var id = $(this).val();
        var url1 = "http://localhost:60969/api/Branches/GetProjectBranches?id=" + id;
        $.ajax({
            type: "GET",
            url: url1,
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                for (var i = 0, li = data.length; i < li; i++) {
                    $('#Branches').append($("<option>")
                        .val(data[i].branchId)
                        .html(data[i].branchName)
                    );
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //what to do in error
                console.log(thrownError);
            }
        });
    });
    $('#Branches').change(function () {
        var id = $(this).val();
        var url1 = "http://localhost:60969/api/Projects/BranchBuilds?id=" + id;
        $.ajax({
            type: "GET",
            url: url1,
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                $('#Versions').empty();
                for (var i = 0, li = data.length; i < li; i++) {
                    $('#Versions').append($("<option>")
                        .val(data[i].buildId)
                        .html("" + data[i].mejor_Version + "." + data[i].minor_Version + "." + data[i].build_Version)
                    );
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //what to do in error
                console.log(thrownError);
            }
        });
    });
</script>
<!-- Data Table JS
        ============================================ -->
@*<script src="~/Scripts/js/data-table/jquery.dataTables.min.js"></script>
<script src="~/Scripts/js/data-table/data-table-act.js"></script>*@


